body {
    font-family: Arial;
    background-color: lightgray;
}

header {
    background: darkred;
    color: white;
    padding: 10px;
}

nav {
    background: black;
    padding: 10px;
}

nav a {
    color: white;
    margin: 5px;
}

main {
    padding: 20px;
}

footer {
    background: black;
    color: white;
    text-align: center;
}